.form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.forgotPasswordLinkContainer {
  width: 100%;
}

.forgotPasswordLink {
  color: var(--color-primary-grey);
  font-size: 14px;
  margin-top: -8px;
  margin-bottom: 8px;
}