.modal :global(.ant-modal-container) {
  overflow: hidden !important;
  padding: 0 !important;
}

.header {
  border-bottom: 1px solid var(--color-grey30);
  padding: 20px;
}

.footer {
  border-top: 1px solid var(--color-grey30);
  padding: 20px;
}

.body {
  padding: 20px;
}
