.button {
  transition: var(--transition-fast);
  box-shadow: var(--button-shadow) !important;
}

.button:not(:disabled):hover {
  box-shadow: var(--button-shadow-hover) !important;
}

.button:disabled {
  box-shadow: none !important;
}

.button :global(.ant-btn-icon) svg {
  color: inherit;
}

:global(.ant-btn-icon) {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
