.button {
  border-radius: 8px;
  font-size: 14px;
  transition: filter 0.2s ease;
}

.button :global(.ant-btn-icon) svg {
  color: inherit;
}

:global(.ant-btn-icon) {
  display: flex !important;
  justify-content: center;
  align-items: center;
}