.menu {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 90px;
  flex-shrink: 0;
  border-right: 1px solid var(--color-grey30);
}

.header {
  width: 100%;
  height: 90px;
  flex-shrink: 0;
  border-bottom: 1px solid var(--color-grey30);
}

.logoContainer {
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: var(--color-navy);
}

.logo {
  height: 26px;
  filter: brightness(0) invert(1);
}

.tabsContainer {
  margin-top: 20px;
  height: 100%;
}

.footer {
  width: 100%;
  height: 90px;
  flex-shrink: 0;
  border-top: 1px solid var(--color-grey30);
}

.avatarPopoverHeader {
  padding: 5px 10px 15px 10px;
  border-bottom: 1px solid var(--color-grey30);
}

.avatarPopoverName {
  color: var(--color-navy);
  font-weight: 600;
}

.avatarPopoverRole {
  font-size: 12px;
}