.text {
  color: var(--color-grey90) !important;
  font-size: 12px;
  display: block;
}

.text--small {
  padding: 2px 0;
}

.text--medium {
  padding: 6px 2px;
  min-width: 100px;
}

.text--large {
  padding: 10px 4px;
  min-width: 130px;
}
