.resendText {
  color: var(--color-accent) !important;
  font-weight: var(--font-weight-semibold);
  cursor: pointer;
}

.linkSent {
  text-align: center;
}

.resendText:hover {
  color: var(--color-accent-hover) !important;
}
