.wrapper {
  position: relative;
}

.select {
  width: 100%;
  height: 44px;
  border-radius: 8px;
  font-size: 14px;
}

.select :global(.ant-select-selector) {
  align-items: center;
}

.selectWithPrefix :global(.ant-select-selector) {
  padding-left: 35px !important;
}

.prefix {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-grey70);
  z-index: 10;
  pointer-events: none;
}

.label {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--color-grey70);
  background: white;
  padding: 0 4px;
  pointer-events: none;
  transition: top 0.3s ease, font-size 0.3s ease, left 0.3s ease;
  z-index: 10;
  line-height: 1;
}

.labelWithPrefix {
  left: 35px;
}

.labelFloating {
  top: 0;
  font-size: 11px;
  left: 12px;
}

.popup :global(.ant-select-item-option) {
  color: var(--color-grey70);
  border-radius: 6px;
  font-size: 14px;
  transition: 0.2s ease;
  margin: 2px;
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  background-color: var(--color-white) !important;
}

.popup :global(.ant-select-item-option-active:not(.ant-select-item-option-disabled)),
.popup :global(.ant-select-item-option:hover) {
  border: 1px solid var(--color-grey30) !important;
  color: var(--color-grey90) !important;
}

.popup :global(.ant-select-item-option-selected:not(.ant-select-item-option-disabled)) {
  background-color: var(--color-grey30) !important;
  color: var(--color-grey90) !important;
  font-weight: normal;
}
