.cards {
  width: 100%;
}

.card {
  border-radius: 10px;
  width: 100%;
  height: 82px;
  padding: 0px 16px;
  background-color: var(--color-white);
}

.iconContainer {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  background-color: var(--color-primary-outline);
}

.iconContainerSkeleton {
  width: 50px !important;
}

.iconContainerSkeleton :global(.ant-skeleton-title) {
  height: 50px !important;
  width: 50px !important;
  border-radius: 15px;
  margin: 0 !important;
}