.header {
  position: sticky;
  top: 0;
  z-index: 3;
  width: 100%;
  height: var(--layout-bar-height);
  padding: 0 var(--space-32);
  background-color: var(--color-bg);
}

.title {
  font-size: var(--font-size-3xl) !important;
  font-weight: var(--font-weight-bold) !important;
  letter-spacing: var(--letter-spacing-tighter);
  color: var(--color-ink) !important;
}
