:root {
  --color-black: #000000;
  --color-navy: #092C4C;
  --color-blue: #514EF3;
  --color-gren: #2DC8A8;
  --color-red: #EF4444;
  --color-yellow: #FFC357;
  --color-pink: #FE8084;
  --color-grey90: #526477;
  --color-grey70: #7E92A2;
  --color-grey50: #D6E1E6;
  --color-grey30: #EAEEF4;
  --color-grey10: #F6FAFD;
  --color-white: #FFFFFF;

  font-family: "Lato", sans-serif;
  color: var(--color-navy);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-grey10);
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

h1.ant-typography,
h2.ant-typography,
h3.ant-typography,
h4.ant-typography,
h5.ant-typography {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.ant-form-item-explain-error {
  font-size: 12px;
}

.ant-dropdown-menu-item {
  border: 1px solid transparent !important;
  transition: border-color 0s !important;
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-item-active {
  background-color: transparent !important;
  border-color: var(--color-grey50) !important;
}
