:root {
  /* primary */
  --color-primary-main: #5E81F4;
  --color-primary-dark: #1C1D21;
  --color-primary-grey: #8181A5;
  --color-primary-outline: #F0F0F3;

  /* background */
  --color-bg-light: #F5F5FA;
  --color-bg-default: #F6F6F6;
  --color-bg-white: #FFFFFF;

  /* secondary */
  --color-secondary-yellow: #F4BE5E;
  --color-secondary-green: #7CE7AC;
  --color-secondary-red: #FF808B;
  --color-secondary-purple: #9698D6;
  --color-secondary-cyan: #40E1FA;

  --color-white: #FFFFFF;
  --color-black: #000000;

  --textXxs: 10px;
  --textXs: 12px;
  --textSm: 14px;
  --textBase: 16px;
  --textLg: 18px;
  --textXl: 20px;
  --text2Xl: 24px;
  --text3Xl: 32px;
  --text4Xl: 36px;
  --text5Xl: 40px;
  --text6Xl: 48px;
  --text7Xl: 56px;

  --paddingMd: 24px;
  --paddingSm: 16px;
  --paddingXs: 8px;

  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: var(--color-primary-dark);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-bg-default);
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

h1.ant-typography,
h2.ant-typography,
h3.ant-typography,
h4.ant-typography,
h5.ant-typography {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.ant-form-item-explain-error {
  font-size: 12px;
}

.ant-dropdown-menu-item {
  border: 1px solid transparent !important;
  transition: border-color 0s !important;
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-item-active {
  background-color: transparent !important;
  border-color: var(--color-primary-outline) !important;
}