:root {
  /* primary */
  --color-primary-main: #514EF3;
  --color-primary-main-hover: #3B39D5;
  --color-primary-dark: #092C4C;
  --color-primary-grey: #526477;
  --color-primary-grey-hover: #3D4D5C;
  --color-primary-outline: #D6E1E6;
  --color-primary-outline-hover: #EAEEF4;

  /* background */
  --color-bg-light: #F6FAFD;
  --color-bg-default: #F6FAFD;
  --color-bg-white: #FFFFFF;

  /* secondary */
  --color-secondary-yellow: #FFC357;
  --color-secondary-green: #2DC8A8;
  --color-secondary-green-hover: #25A88D;
  --color-secondary-red: #FE8084;
  --color-secondary-red-hover: #E05561;

  --color-white: #FFFFFF;
  --color-black: #000000;

  font-family: "Lato", sans-serif;
  color: var(--color-primary-dark);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-bg-light);
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

h1.ant-typography,
h2.ant-typography,
h3.ant-typography,
h4.ant-typography,
h5.ant-typography {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.ant-form-item-explain-error {
  font-size: 12px;
}

.ant-dropdown-menu-item {
  border: 1px solid transparent !important;
  transition: border-color 0s !important;
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-item-active {
  background-color: transparent !important;
  border-color: var(--color-primary-outline) !important;
}
