.drawer :global(.ant-drawer-header) {
  padding: 0 !important;
  border: none !important;
}

.drawer :global(.ant-drawer-body) {
  padding: 0 !important;
}

.drawer :global(.ant-drawer-footer) {
  padding: 0 !important;
  border: none !important;
}

.header {
  border-bottom: 1px solid var(--color-grey30);
  background-color: var(--color-grey10);
  padding: 30px;
}

.footer {
  border-top: 1px solid var(--color-grey30);
  background-color: var(--color-grey10);
  padding: 30px;
}

.body {
  padding: 30px;
}
